<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/Plantilla/fragmentos :: head">
<meta charset="UTF-8">
<title>Empleados</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
	<header th:replace="/Plantilla/fragmentos :: header"> </header>

	<div class="container">
		<p class="display-5">Bienvenidos a una aplicación web para
			gestionar empleados de una base de datos</p>

	</div>


	<footer th:replace="/Plantilla/fragmentos :: footer"></footer>

</body>

</html>